/* CUSTOM-PROPORTY */
:root{
--text-color-white: #fff;
--text-color-black: #000;
}
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2"),
      url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.woff2") format("woff2"),
      url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL STYLES  */
*,
*::after,
*::before {
  box-sizing:inherit;
}

*:focus {
  outline: 3px dotted #655AF2;
  outline-offset: 3px;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans","Alata",sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1154px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 100%;
  height: auto;
}

.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header-hero-wrapper {
  width: 100%;
  background-image: url(../img/site-header-bg.png);
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 160px;
}

.site-header {
  padding-top: 64px;
  padding-bottom:140px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo-link {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
}
.site-header-logo-img {
  width: 192px;
  height: 32px;
  object-fit: contain;
  margin-right: 538px;
}

.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: var(--text-color-white);
  white-space: nowrap;
}
  .sitenav-link:active{
    opacity: 0.6;
    border-color: var(--text-color-white);
  }
  .site-header-logo-img:active{
    opacity: 0.6;
  }


/* HERO */
.hero {
  padding-bottom: 165px;
}
.hero-container {
  display: flex;
}
.hero-border-rectangle {
  width: 100%;
  max-width: 650px;
  border: 2px solid #fff;

}
.hero-heading {
  margin: 0;
  padding: 40px;
  font-family:"Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 70px;
  color: var(--text-color-white);
  text-transform: uppercase;
}
/* INTERACTIVE */
.interactive {
  margin-top: 0;

}

.interactive-container {
  background-image:url(../img/human.png);
  background-size: contain;
  padding-left:620px;
  padding-top: 183px;
  background-repeat: no-repeat;

}
.interactive-info-wrapper {

}

.interactive-rectange-info-wrapper{
  padding-left: 96px;
  padding-top: 96px;
  background-color: #fff;
}
.interactive-rectange-heading {
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 48px;
text-transform: uppercase;
color:var(--text-color-black)
}
.interactive-rectange-text{

}
.interactive-rectange-text:active{
  opacity: 0.5;
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .form-info-item{
        background-image: url(../img/site-header-bg@2x.png);
    }
}
